<%- include('partials/header.ejs') %>

<main class="container-part">
    <div class="main-flex">
        <nav class="nav-style">
            <button class="nav-btn">Biographies</button>
            <button class="nav-btn">&Eacutevénements cherbourgeois</button>
        </nav>
        <div class="flex-actus">
            <section id="box">
                <h3>Actualités</h3> 
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius tempora, voluptatum rerum facere tempore voluptatem nostrum nobis est perspiciatis dignissimos, sed numquam. Asperiores, repudiandae ullam!</p>      
            </section>
        </div>
    </div>
    
</main>

<%- include('partials/footer.ejs') %>